<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TestComponents.Listeners"></listener>
	</listeners>
	<test name="Test">

		<parameter name="excelpath" value="PANOPILOT" />
		<classes>

			<class name="TestComponents.PolicyDetailsTestMethods">
				<methods>

					<include name="MyCallHistoryValidation"></include>
					<include name="MyAssignedWorkValidation"></include>
					<include name="SearchFunctionality"></include>
					<include name="PolicyContractDetails"></include>
					<include name="PolicyDetailsTest"></include>
					<include name="PolicyBillingTest"></include>
					<include name="PolicyValuesTabTest"></include>
					<include name="PolicyLoansTabTest"></include>
					<include name="PolicyRidersTab"></include>
					<include name="PolicyFundsTabTest"></include>
					<include name="PolicySuspenseTabTest"></include>
					<include name="PolicyNOtesTabTest"></include>





				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
